@import 'base/variables';
@import 'base/mixins';

@import "libs/animate.scss";
@import "libs/iconfonts";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/subtitle';
@import 'blocks/_title';
@import 'blocks/_button';
@import 'blocks/sidepanel';
@import 'blocks/hamburger';
@import 'blocks/_aboutme';
@import 'blocks/_line';
@import 'blocks/_descrblock';
@import 'blocks/_benefit';
@import 'blocks/skills';