.descrblock{
    width: 260px;
    position: relative;
    &__iconwrap{
       @include before_descrblock;
       position: absolute;
       top: 12px;
    }
    &__subtitle{
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        text-align: left;
    }
    &__descr{
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
        &_left{
            position: absolute;
            width: 375px;
            left: -60px;
            margin-top: 12px;
        }
        &_top25{
            margin-top: 25px;
        }
    }
    &__textwrap{
        margin-left: 45px;
        position: relative;
    }
    &__info{
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
    }
}